@import url('https://fonts.googleapis.com/css?family=Lato:300,400|Poppins:300,400,800&display=swap');

* {
  margin: 0;
  padding: 0;
}

.container {
    width: 100%;
    height: 100vh;
  background: rgb(41, 39, 39);

  display: flex;
  justify-content: right;
  align-items: right;
}
  .box {
    width: 250px;
    height: 250px;
    position: relative;
    display: flex;
    justify-content: right;
    flex-direction: column;
  }
    .title {
      width: 100%;
      position: relative;
      display: flex;
      align-items: right;
      height: 50px;
    }
  
      h1 {
        font-family: 'Poppins';
        color: rgb(250, 246, 247);
        font-size: 30px;
        -webkit-animation: mainFadeIn 2s forwards;
        -o-animation: mainFadeIn 2s forwards;
        animation: mainFadeIn 2s forwards;
        animation-delay: 1.6s;
        opacity: 0;
        display: flex;
        align-items: baseline;
        position: relative;
      }
       
    .role {
      width: 8cm;
      position: relative;
      display: flex;
      align-items: right;
      height: 30px;
      margin-top: -10px;
    }
      .block {
        width: 0%;
        height: inherit;
        background: rgb(24, 180, 185);
        position: absolute;
        animation: secBlock 2s cubic-bezier(.74, .06, .4, .92) forwards;
        animation-delay: 2s;
        display: flex;
      }

      p {
        animation: secFadeIn 2s forwards;
        animation-delay: 3.2s;
        opacity: 0;
        font-weight: 400;
        font-family: 'Lato';
        color:rgb(248, 187, 199);
        font-size: 15px;
        text-transform: uppercase;
        letter-spacing: 5px;
        width: 100cm;
      }
@keyframes secBlock {
  0% {
    width: 0%;
    left: 0;

  }
  50% {
    width: 100%;
    left: 0;

  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes mainFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@keyframes popIn {
  0% {
    width: 0px;
    height: 0px;
    background: #e9d856;
    border: 0px solid #ddd;
    opacity: 0;
  }
  50% {
    width: 10px;
    height: 10px;
    background: #e9d856;
    opacity: 1;
    bottom: 45px;
  }
   65% {
      width: 7px;
    height: 7px;
      bottom: 0px;
      width: 15px
   }
   80% {
      width: 10px;
    height: 10px;
      bottom: 20px
   }
  100% {
    width: 7px;
    height: 7px;
    background: #e9d856;
    border: 0px solid #222;
    bottom: 13px;

  }
}

@keyframes secFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}





.song {
    display: block;
    padding: 10 30px;
    background-color: transparent ;
    color: crimson;
    border: 2px solid crimson;
    font-size: 0.25cm;
    text-transform: uppercase;
    letter-spacing: 0.1cm;
    margin-top: 30px;
    transition: .3s ease ;
    transition-property: background-color,color;
    position: absolute;
    bottom: 60px;
    right: 250px;
}
.song:hover {
    color: white;
    background-color:crimson;
    ;
}
.t {
        position: absolute;
        left: 120px;
        top: 100px;
}
.he{
    width: 13cm;
    height: 13cm;
    position: absolute;
    top: 30px;
    right: 100px;
}
.hee{
    width: 5cm;
    height: 7cm;
    position: absolute;
    bottom: 20px;
    left:  70px;
}
.heee{
    width: 5cm;
    height: 7cm;
    position: absolute;
    bottom: 20px;
    left:  250px;
}
.heeee{
    width: 5cm;
    height: 7cm;
    position: absolute;
    bottom: 20px;
    left:  430px;
}
h3 {
    font-family: 'Poppins';
    color: rgb(250, 246, 247);
    -webkit-animation: mainFadeIn 2s forwards;
    -o-animation: mainFadeIn 2s forwards;
    animation: mainFadeIn 2s forwards;
    animation-delay: 4.0s;
    opacity: 0;
    display: flex;
    
  }
  h4 {
    font-family: 'Poppins';
    color: rgb(250, 246, 247);
    -webkit-animation: mainFadeIn 2s forwards;
    -o-animation: mainFadeIn 2s forwards;
    animation: mainFadeIn 2s forwards;
    animation-delay: 4.3s;
    opacity: 0;
    display: flex;
   
  }
  h5 {
    font-family: 'Poppins';
    color: rgb(250, 246, 247);
    -webkit-animation: mainFadeIn 2s forwards;
    -o-animation: mainFadeIn 2s forwards;
    animation: mainFadeIn 2s forwards;
    animation-delay: 4.6s;
    opacity: 0;
    display: flex;
    
  }
  h6 {
    font-family: 'Poppins';
    color: rgb(250, 246, 247);
    -webkit-animation: mainFadeIn 2s forwards;
    -o-animation: mainFadeIn 2s forwards;
    animation: mainFadeIn 2s forwards;
    animation-delay: 4.9s;
    opacity: 0;
    display: flex;
    
  }
  h2 {
    animation: secFadeIn 2s forwards;
    animation-delay: 3.7s;
    opacity: 0;
    font-weight: 400;
    color:rgb(252, 236, 239);
    font-size: 30px;
    letter-spacing: 2 px;
    width: 100cm;
  }
  .ho {
    display: block;
    padding: 10 30px;
    background-color: transparent ;
    color: crimson;
    border: 2px solid crimson;
    font-size: 0.25cm;
    text-transform: uppercase;
    letter-spacing: 0.1cm;
    margin-top: 30px;
    transition: .3s ease ;
    transition-property: background-color,color;
    position: absolute;
    bottom: 20px;
    right: 20px;
}
.ho:hover {
    color: white;
    background-color:crimson;
}